.ticket-container{
    height: 250px;
    width: 650px;
    padding: 0px auto;
    margin: 30px auto;
    border-radius: 20px;
    display: flex;
    
}

.user-part{
    width: 30%;
    height: auto;
    border-radius: 20px;
    border: 2px solid black;
    border-right: none;
    padding: 8px;
    background-color: rgba(243, 235, 115, 0.568);
}
.event-part{
    width: 50%;
    height: auto;
    border-radius: 20px;
    border: 2px solid black;
    border-left: dotted;
    padding: 8px;
    background-color: rgba(243, 235, 115, 0.568);
}
.heading{
    text-align: center;
    font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration:underline;
    background-color: rgb(167, 164, 209);
    padding: 5px;
    border-radius: 10px;
}
.logo{
    height: 25px;
}
.event-logo{
    height: 30px;
}
.img-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* mobile */
@media (max-width: 600px){
    .ticket-container{
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 100%;
    }
    .user-part{
        width: 300px;
        border-right: solid;
        border-bottom: none;
    }
    .event-part{
        width: 300px;
        border-left: solid;
        border-top: dotted;

    }
}